    <!-- app Component -->

<div>
    <h1>Welcome to My Angular Application</h1>
  
    <!-- Color Changer Component -->
    <app-color-changer></app-color-changer>
  
    <!-- Business Card Component -->
    <app-business-card></app-business-card>
    <app-navbar></app-navbar>
    <app-cv></app-cv>
    
    <app-mini-word></app-mini-word>
    <h1>Exercice 9: Rainbow</h1>
    <div class="container">
        <h1>Simulateur d’écriture Arc-en-Ciel</h1>
        <input 
          type="text" 
          appRainbow 
          placeholder="Tapez quelque chose ici..." 
          class="rainbow-input"
        />
      </div>
</div>
    